#Iportfolio{
	zoom:50%;
	margin-right: 50px;
	margin-bottom: 40px;
}
.imgC{
	zoom:30%;
	float: left;
}
#head{
	width:inherit;
	height: 48px;
	padding-top: 10px;
}
#left{
	box-shadow: 3px 3px 1px #888985;
	float: left;
	width: 400px;
	margin-right: 10px;
	background-color: white;
	border: 1px solid;
	border-color: gray;
	margin-left: 60px;
    margin-top: 30px;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
}

#right{
	float: right;
	background-color: white;
	border: 1px solid;
	border-color: gray;
	margin-top: 30px;
	margin-right:60px;
	padding: 20px;
	border-radius: 8px;
	box-shadow: -3px 7px 58px #888867;
}

.solid {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

H3,H2{
	text-align: center;
	color: #03A9F4;
	font-family: monospace;
	font-size: 2em;
}
#name {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-size: 31px;
    background-color: #03A9F4;
    margin-left: 60px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    padding-bottom: 12px;
    border-top-right-radius: 10px;
    box-shadow: 3px 3px 64px #888929;
}
#lbar
{
	float: right;
	margin-right: 100px;
}
#baron{
	font-size: 22px;
    color: gray;
	text-decoration: blink;
    padding-bottom: 22px;
    background-color: gray;
    color: white;
    padding-top: 9px;
    padding-left: 14px;
    padding-right: 22px;
    border-top-left-radius: 33px;
    border-bottom-right-radius: 30px;
}
.baroff{
	font-size: 22px;
    color: gray;
	text-decoration: blink;
	padding-bottom: 22px;
    background-color: #E1E1E1;
    color: white;
    padding-top: 9px;
    padding-left: 14px;
    padding-right: 22px;
    border-top-left-radius: 33px;
    border-bottom-right-radius: 30px;
}
.baroff:hover {
    background-color: black;
}
#body{
	background-image: url("wall.png");
    width: inherit;
    height: 800px;
    border-top: solid 1px gray;
    border-bottom: solid 5px #03A9F4; 
}
p,details{ 
	color: black;
	font-size: 22px;
	margin: 10px;
    text-align: justify;
}
footer{
	text-align: center;
	background-color: #666666;
	color: gray;
	height: 50px;
	margin-top: -50px;
	padding-top: 14px;
    font-family: monospace;
    color: blanchedalmond;
}
input{
	height: 34px;
    width: 400px;
    font-size: 20px;
    margin-left: 10px;
}
textarea{
	font-size: 15px;
	margin-left: 10px;
}
button{
    margin-left: 126px;
    font-size: 2em;
    font-family: monospace;
    border: none;
    padding: 12px;
    background-color: #03A9F4;
    color: #fff;
    border-radius: 6px;
    box-shadow: 2px 2px 1px #a6c1ce;
}
@media screen and (max-width:910px){


#name{
	font-size:medium;
}
.bar{
	font-size:medium;
}
p{
	color: #715f5f;
	font-size: medium;
	margin: 10px;
    text-align: justify;
}
H2,H3{
	font-size: 1em; 
}
.imgC{
	zoom:15%;
	float: left;
}
.imgP{
	zoom:20%;
}
#left{
	width: auto;
    
}
#right{
	float: left;
	margin-left: 58px;
}
#baron,.baroff{
	font-size: 15px;
    color: gray;
	text-decoration: blink;
	padding-bottom: 16px;
    color: white;
    padding-top: 6px;
    padding-left: 14px;
    padding-right: 16px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 22px;
}
#lbar{
    float: left;
    margin-top: 8px;
    margin-left: 57px;
}
#head{
	height: 91px;
    display: inline-grid;
}
}